<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
	<meta charset="UTF-8">
	<title>Accueil</title>
</head>
<body>
<header th:replace="fragments/menu :: menuPrincipal"></header>
<h1 class="text-3xl font-bold text-center">Bienvenue <span th:text="${utilisateur.username}"></span> sur l'application PayYouPayMe</h1>

<div th:if="${utilisateur == null}" class="mt-6 flex flex-col items-center">
	<h2 class="text-2xl font-bold text-center mb-4">Inscrivez-vous</h2>
	<form th:action="@{/signUp}" method="POST">
		<ul>
			<li class="flex flex-col mb-4">
				<label for="username" class="mb-2">Nom d'utilisateur :</label>
				<input type="text" id="username" name="userName" class="w-48 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
			</li>
			<li class="flex flex-col mb-4">
				<label for="password" class="mb-2">Mot de passe :</label>
				<input type="password" id="password" name="password" class="w-48 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
			</li>
			<li>
				<input type="submit" value="S'inscrire" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"/>
			</li>
		</ul>
	</form>
</div>
</body>
</html>