<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
	<meta charset="UTF-8">
	<title>Accueil</title>
</head>
<body>
	<header th:replace="~{fragments/menu :: menuPrincipal}"></header>

	<h1 class="text-3xl font-bold text-center mb-4">Transferts vers un compte externe</h1>

	<div class="text-center text-xl mb-4" th:text="'Solde : ' + ${utilisateur.balance}"></div>
	<div class="flex justify-center mb-6">
		<form th:action="@{/transfert/createTransfert}" method="POST">
			<input type="text" name="content" value = "message" class="w-48 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
			<input type="number" name="amount" value = "0" class="w-48 bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">

			<input type="submit" value="Creation tranfert" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
		</form>
	</div>
	<h2 class="text-2xl font-bold text-center mb-4">Liste transferts effectués</h2>
	<div class="flex justify-center">
		<table class="border-collapse border border-gray-400">
			<tr>
				<th class="border border-gray-300 p-4">Identifiant</th>
				<th class="border border-gray-300 p-4">Montant</th>
				<th class="border border-gray-300 p-4">Message</th>
				<th class="border border-gray-300 p-4">Date</th>
			</tr>
			<tr th:each="transfert : ${utilisateur.transferts}">
				<td class="border border-gray-300 p-4" th:text="${transfert.id}"></td>
				<td class="border border-gray-300 p-4" th:text="${transfert.amount}"></td>
				<td class="border border-gray-300 p-4" th:text="${transfert.messageContent}"></td>
				<td class="border border-gray-300 p-4" th:text="${transfert.date}"></td>
			</tr>
		</table>
	</div>
</body>
</html>